bleach==3.1.4
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
click==7.1.1
cryptography==3.2
Deprecated==1.2.7
docutils==0.16
future==0.18.2
gitdb==4.0.2
GitPython==3.1.0
idna==2.9
importlib-metadata==1.6.0
jeepney==0.4.3
Jinja2==2.11.1
keyring==21.2.0
livereload==2.6.1
lunr==0.5.6
Markdown==3.2.1
MarkupSafe==1.1.1
mkdocs==1.1
mock==4.0.2
nltk==3.4.5
pkginfo==1.5.0.1
pycparser==2.20
PyGithub==1.47
Pygments==2.6.1
PyJWT==1.7.1
PyYAML==5.3.1
readme-renderer==25.0
requests==2.23.0
requests-toolbelt==0.9.1
SecretStorage==3.1.2
six==1.14.0
smmap==3.0.1
tornado==6.0.4
tqdm==4.44.0
twine==3.1.1
urllib3==1.25.8
webencodings==0.5.1
wrapt==1.12.1
zipp==3.1.0
pydevutils
